@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_StartLayout.cshtml";
}

<p>
    A CookBook is a project that will allow you to quickly find the recipe you need with a full description, sequence of actions, and also a photo.
    Use the navigation to quickly find what you need.
    <br />
    Enjoy!
</p>