<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    
  <connectionStrings>
    <add name="CookBookDB" connectionString="data source=DESKTOP-SBJPD8E\SQLEXPRESS;initial catalog=CookBookDB;Persist Security Info=True;User ID=CookBookAdm;Password=cookbook" providerName="System.Data.SqlClient"/>
  </connectionStrings>
    
  <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IAdvertContract" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:4002/AdvertService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IAdvertContract" contract="AdvertServiceReference.IAdvertContract"
                name="BasicHttpBinding_IAdvertContract" />
        </client>
    </system.serviceModel>
  
</configuration>