<form>
    Recipe
    <br />
    <input type="text" id="searchRecipeTbx" maxlength="50" placeholder="Enter recipe name" />
    <br />
    Category
    <br />
    <input type="text" id="searchCategoryTbx" maxlength="50" placeholder="Enter category name" />
    <br />
    Ingridient
    <br />
    <input type="text" id="searchIngridientTbx" maxlength="50" placeholder="Enter ingridient name" />
    <br />
    <input type="button" name="searchBtn" value="Search" onclick="SearchFunction()" />
</form>